In [1]:
import pandas as pd
df = pd.read_csv('jax gps.csv')

In [2]:
# processing gps data from Jacksonville
new_df = pd.DataFrame(columns=['id, latitude, longitude, time'])

new_df = pd.DataFrame([{'id': row[1].split('|')[0],
                     'latitude': float(row[1].split('|')[1].strip('"')),
                     'longitude': float(row[1].split('|')[2].strip('"')),
                     'time': row[1].split('|')[9].strip('"')} for row in df.itertuples()])

new_df

In [3]:
selected_data = new_df.reset_index()
selected_data = selected_data.rename(columns={'index': 'ID'})
selected_data = selected_data.set_index('ID')
selected_data

,id,latitude,longitude,time
ID,,,,
0,0015b634-5297-31bb-8e29-e54f3405b9ce,30.27550,-81.58150,2022-09-07 20:28:01
1,0015b634-5297-31bb-8e29-e54f3405b9ce,30.31220,-81.72430,2022-09-07 20:28:02
2,0015b634-5297-31bb-8e29-e54f3405b9ce,30.27550,-81.58150,2022-09-07 20:28:32
3,0015b634-5297-31bb-8e29-e54f3405b9ce,30.31220,-81.72430,2022-09-07 20:28:33
4,0015b634-5297-31bb-8e29-e54f3405b9ce,30.27550,-81.58150,2022-09-07 20:29:06
...,...,...,...,...
5844410,fd1716a4-51ba-39f5-8a28-26092012c4b0,30.37922,-81.60544,2022-10-23 17:41:30
5844411,fda85b20-8fcf-390e-b34f-c8397ef218f7,30.35620,-81.68800,2022-10-29 00:09:10
5844412,ff5d6928-ddd8-3292-93df-be11e49857ee,30.33606,-81.75724,2022-10-31 02:06:17
5844413,ff5d6928-ddd8-3292-93df-be11e49857ee,30.33605,-81.75724,2022-10-31 02:06:46
5844414,ff5d6928-ddd8-3292-93df-be11e49857ee,30.33605,-81.75724,2022-10-31 02:07:50

In [4]:
new_df['user_id'] = pd.factorize(new_df['id'])[0]

In [5]:
new_df

,id,latitude,longitude,time,user_id
0,0015b634-5297-31bb-8e29-e54f3405b9ce,30.27550,-81.58150,2022-09-07 20:28:01,0
1,0015b634-5297-31bb-8e29-e54f3405b9ce,30.31220,-81.72430,2022-09-07 20:28:02,0
2,0015b634-5297-31bb-8e29-e54f3405b9ce,30.27550,-81.58150,2022-09-07 20:28:32,0
3,0015b634-5297-31bb-8e29-e54f3405b9ce,30.31220,-81.72430,2022-09-07 20:28:33,0
4,0015b634-5297-31bb-8e29-e54f3405b9ce,30.27550,-81.58150,2022-09-07 20:29:06,0
...,...,...,...,...,...
5844410,fd1716a4-51ba-39f5-8a28-26092012c4b0,30.37922,-81.60544,2022-10-23 17:41:30,18839
5844411,fda85b20-8fcf-390e-b34f-c8397ef218f7,30.35620,-81.68800,2022-10-29 00:09:10,18840
5844412,ff5d6928-ddd8-3292-93df-be11e49857ee,30.33606,-81.75724,2022-10-31 02:06:17,18841
5844413,ff5d6928-ddd8-3292-93df-be11e49857ee,30.33605,-81.75724,2022-10-31 02:06:46,18841
5844414,ff5d6928-ddd8-3292-93df-be11e49857ee,30.33605,-81.75724,2022-10-31 02:07:50,18841

In [6]:
new_df.to_csv('data.csv')