In [1]:
import pandas as pd
df = pd.read_csv('jax gps.csv')

In [2]:
# processing gps data from Jacksonville
new_df = pd.DataFrame(columns=['id, latitude, longitude, time'])

new_df = pd.DataFrame([{'id': row[1].split('|')[0],
                     'latitude': float(row[1].split('|')[1].strip('"')),
                     'longitude': float(row[1].split('|')[2].strip('"')),
                     'time': row[1].split('|')[9].strip('"')} for row in df.itertuples()])

In [3]:
new_df

,id,latitude,longitude,time
0,0015b634-5297-31bb-8e29-e54f3405b9ce,30.27550,-81.58150,2022-09-07 20:28:01
1,0015b634-5297-31bb-8e29-e54f3405b9ce,30.31220,-81.72430,2022-09-07 20:28:02
2,0015b634-5297-31bb-8e29-e54f3405b9ce,30.27550,-81.58150,2022-09-07 20:28:32
3,0015b634-5297-31bb-8e29-e54f3405b9ce,30.31220,-81.72430,2022-09-07 20:28:33
4,0015b634-5297-31bb-8e29-e54f3405b9ce,30.27550,-81.58150,2022-09-07 20:29:06
...,...,...,...,...
5844410,fd1716a4-51ba-39f5-8a28-26092012c4b0,30.37922,-81.60544,2022-10-23 17:41:30
5844411,fda85b20-8fcf-390e-b34f-c8397ef218f7,30.35620,-81.68800,2022-10-29 00:09:10
5844412,ff5d6928-ddd8-3292-93df-be11e49857ee,30.33606,-81.75724,2022-10-31 02:06:17
5844413,ff5d6928-ddd8-3292-93df-be11e49857ee,30.33605,-81.75724,2022-10-31 02:06:46
5844414,ff5d6928-ddd8-3292-93df-be11e49857ee,30.33605,-81.75724,2022-10-31 02:07:50

In [4]:
selected_data = new_df.reset_index()
selected_data = selected_data.rename(columns={'index': 'ID'})
selected_data = selected_data.set_index('ID')
selected_data

,id,latitude,longitude,time
ID,,,,
0,0015b634-5297-31bb-8e29-e54f3405b9ce,30.27550,-81.58150,2022-09-07 20:28:01
1,0015b634-5297-31bb-8e29-e54f3405b9ce,30.31220,-81.72430,2022-09-07 20:28:02
2,0015b634-5297-31bb-8e29-e54f3405b9ce,30.27550,-81.58150,2022-09-07 20:28:32
3,0015b634-5297-31bb-8e29-e54f3405b9ce,30.31220,-81.72430,2022-09-07 20:28:33
4,0015b634-5297-31bb-8e29-e54f3405b9ce,30.27550,-81.58150,2022-09-07 20:29:06
...,...,...,...,...
5844410,fd1716a4-51ba-39f5-8a28-26092012c4b0,30.37922,-81.60544,2022-10-23 17:41:30
5844411,fda85b20-8fcf-390e-b34f-c8397ef218f7,30.35620,-81.68800,2022-10-29 00:09:10
5844412,ff5d6928-ddd8-3292-93df-be11e49857ee,30.33606,-81.75724,2022-10-31 02:06:17
5844413,ff5d6928-ddd8-3292-93df-be11e49857ee,30.33605,-81.75724,2022-10-31 02:06:46
5844414,ff5d6928-ddd8-3292-93df-be11e49857ee,30.33605,-81.75724,2022-10-31 02:07:50

In [5]:
counts = selected_data.groupby('id').size()
counts = counts[counts > 100]
ids = counts.index.tolist()
filter_df = selected_data[selected_data['id'].isin(ids)]
filter_df

,id,latitude,longitude,time
ID,,,,
0,0015b634-5297-31bb-8e29-e54f3405b9ce,30.275500,-81.581500,2022-09-07 20:28:01
1,0015b634-5297-31bb-8e29-e54f3405b9ce,30.312200,-81.724300,2022-09-07 20:28:02
2,0015b634-5297-31bb-8e29-e54f3405b9ce,30.275500,-81.581500,2022-09-07 20:28:32
3,0015b634-5297-31bb-8e29-e54f3405b9ce,30.312200,-81.724300,2022-09-07 20:28:33
4,0015b634-5297-31bb-8e29-e54f3405b9ce,30.275500,-81.581500,2022-09-07 20:29:06
...,...,...,...,...
5844271,f4e93347-c896-3325-83cd-69d751729be4,30.369183,-81.597534,2022-10-24 02:31:55
5844272,f4e93347-c896-3325-83cd-69d751729be4,30.369194,-81.597583,2022-10-24 03:27:04
5844273,f4e93347-c896-3325-83cd-69d751729be4,30.360781,-81.592232,2022-10-24 23:18:01
5844274,f4e93347-c896-3325-83cd-69d751729be4,30.360781,-81.592232,2022-10-24 23:59:04
5844275,f4e93347-c896-3325-83cd-69d751729be4,30.360770,-81.592240,2022-10-24 23:59:53

In [6]:
filter_df['user_id'] = pd.factorize(filter_df['id'])[0]

/var/folders/vy/m0tbb9cx2m176wk361h4ns900000gn/T/ipykernel_7997/2276688146.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filter_df['user_id'] = pd.factorize(filter_df['id'])[0]

In [7]:
filter_df

,id,latitude,longitude,time,user_id
ID,,,,,
0,0015b634-5297-31bb-8e29-e54f3405b9ce,30.275500,-81.581500,2022-09-07 20:28:01,0
1,0015b634-5297-31bb-8e29-e54f3405b9ce,30.312200,-81.724300,2022-09-07 20:28:02,0
2,0015b634-5297-31bb-8e29-e54f3405b9ce,30.275500,-81.581500,2022-09-07 20:28:32,0
3,0015b634-5297-31bb-8e29-e54f3405b9ce,30.312200,-81.724300,2022-09-07 20:28:33,0
4,0015b634-5297-31bb-8e29-e54f3405b9ce,30.275500,-81.581500,2022-09-07 20:29:06,0
...,...,...,...,...,...
5844271,f4e93347-c896-3325-83cd-69d751729be4,30.369183,-81.597534,2022-10-24 02:31:55,4058
5844272,f4e93347-c896-3325-83cd-69d751729be4,30.369194,-81.597583,2022-10-24 03:27:04,4058
5844273,f4e93347-c896-3325-83cd-69d751729be4,30.360781,-81.592232,2022-10-24 23:18:01,4058
5844274,f4e93347-c896-3325-83cd-69d751729be4,30.360781,-81.592232,2022-10-24 23:59:04,4058
5844275,f4e93347-c896-3325-83cd-69d751729be4,30.360770,-81.592240,2022-10-24 23:59:53,4058

In [8]:
filter_df.to_csv('data.csv')